@model DojoSurvey.Models.Survey
 <div class="result">
    <h3>Submitted Info:</h3>
    <p><strong>Name: </strong>@Model.Name</p>
    <p><strong>Location: </strong>@Model.Location</p>
    <p><strong>Language: </strong>@Model.Language</p>
    @if(Model.Comment != null)
    {
        <p><strong>Comment: </strong>@Model.Comment</p>
    }
    <a href="/">Go back</a>
</div>