@model Category

<div class="text-center">
    <div class="text-center">
        <a href="/">Products</a> | <a href="/categories">Categories</a>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>New Category</h2>
            <form action="/category/add" method="post">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="Create" class="btn btn-info">
                </div>
            </form>
        </div>
        <div class="col-6">
            <h2>Existing Categories</h2>
            @foreach (Category a in ViewBag.AllCategories)
            {
                <h4><a href="/category/@a.CategoryId">@a.Name</a></h4>
            }
        </div>
    </div>
</div>