@model Meet

<div class="teext-center">
    <div class="text-center">
        <h1>Dojo Meet Up Center</h1>
        <a href="/Dashboard">Dashboard</a>
        <a href="/Logout">Log Out</a>
    </div>
    <h2>Create a Meet Up</h2>
    <form action="/meets/new" method="post">
        <div class="form-group">
            <label for="Title">Title:</label>
            <input asp-for="Title">
            <span asp-validation-for="Title"></span>
            <br>
            <label for="DateNTime">Date and Time:</label>
            <input asp-for="DateNTime">
            <span asp-validation-for="DateNTime"></span>
            <br>
            <div class="row">
                <label for="Hours">Duration:</label>
                <input asp-for="Minutes" class="form-control col-3" value="0">
                <span asp-validation-for="Minutes"></span>
                <input asp-for="Hours" class="form-control col-3" value="0">
                <span asp-validation-for="Hours"></span>
                <input asp-for="Days" class="form-control col-3" value="0">
                <span asp-validation-for="Days"></span>
            </div>
            <br>
            <label for="Description">Description:</label>
            <input asp-for="Description">
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create Meet Up" class="btn btn-primary">
        </div>
    </form>
</div>