@model Dojo_Survey_Index
<h1><u>Submitted Info</u></h1>
<h3>Name: @Model.Your_Name</h3>
<h3>Dojo Location: @Model.Dojo_Location</h3>
<h3>Favorite Language: @Model.Favorite_Language</h3>
<h3>Comment @Model.Comment</h3>
<input type="button" class="btn btn-lg btn-success" onclick="location.href='/'" value="Go Back"/>