@model Chef
<div class="text-center">
    <h1 class="display-4">Add a Chef!</h1>
    <a href="/">Home</a>
    <form action="/chef/create" method="post">
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="form-group">
            <label for="DateofBirth">Date of Birth</label>
            <input asp-for="DateofBirth" class="form-control">
            <span asp-validation-for="DateofBirth"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add Chef" class="btn btn-primary">
        </div>
    </form>
</div>