@model Pet
<h1 class="display-4">Update Pet</h1>
<form action="/pets/update/@Model.PetId" method="post">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Species">Species:</label>
        <input asp-for="Species">
        <span asp-validation-for="Species" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>