@{
    ViewData["Title"] = "Home Page";
}

@model Actor

<div class="text-center">
    <div class="row">
        <div class="col-6">
            <h2>Add an Actor</h2>
            <form action="/actor/add" method="post">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="Submit" class="btn btn-info">
                </div>
            </form>
        </div>
        <div class="col-6">
            <h2>List of Actors</h2>
            @foreach(Actor a in ViewBag.AllActors)
            {
                <h4><a href="/actor/@a.ActorId">@a.Name</a></h4>
            }
        </div>
    </div>
</div>
