@model Wedding

<div class="text-center">
    <h1>Plan Your Wedding</h1>
    <a href="/Dashboard">Dashboard</a> | <a href="/Logout">Log Out</a>
    <form action="/weddings/new" method="post">
        <div class="form-group">
            <label for="WeddingOne">Wedder One</label>
            <input asp-for="WeddingOne">
            <span asp-validation-for="WeddingOne"></span>
            <br>
            <label for="WeddingTwo">Wedder Two</label>
            <input asp-for="WeddingTwo">
            <span asp-validation-for="WeddingTwo"></span>
            <br>
            <label for="WeddingDate">Date</label>
            <input asp-for="WeddingDate">
            <span asp-validation-for="WeddingDate"></span>
            <br>
            <label for="WeddingAddress">Wedding Address</label>
            <input asp-for="WeddingAddress">
            <span asp-validation-for="WeddingAddress"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary">
        </div>
    </form>
</div>